<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header :: header-css"></div>
</head>
<body>
    <div th:replace="/fragments/header :: header"></div>

    <div class="container py-3">
        <div class="card">
            <div class="card-body">
                <b><h5 class="card-title" th:text="${post.title}"></h5></b>
                <p class="card-text"><small class="text-muted" th:text="${post.createdDate}"></small> by <a href="#" th:text="${post.createdBy}"></a></p>
                <p class="card-text" th:text="${post.shortDescription}"></p>
                <p class="card-text" th:text="${post.content}"></p>
            </div>
        </div>
    </div>

    <div class="container py-3">
        <form th:action="@{/add_comment/{id}(id=${post.id})}" th:object="${comment}" method="post">
            <div class="form-group">
                <label >Your Comment</label>
                <textarea name="comment" class="form-control" rows="3" th:field="*{content}"></textarea>
                <p class="help-block text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>

    <div class="container py-3" th:each="comment: ${comments}">
        <div class="card">
            <div class="card-body">
                <a href="#"><h5 class="card-title" th:text="${comment.user.userName}"></h5></a>
                <p class="card-text" th:text="${comment.content}"></p>
                <p class="card-text"><small class="text-muted" th:text="${comment.createdDate}"></small></p>
            </div>
        </div>
    </div>

    <footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>